div.menu {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom : 5%;
    background-color: rgb(10,40,45);
    box-shadow: inset 0 0 15px rgb(5,20,20);
    padding: 28px 0.25em 0.25em;
    border: 1px solid var(--menu-border-color);
    min-width: 90%;
    max-width: 100%;
    max-height: 80%;
    transform: translateX(-50%);
    overflow: hidden;
}

div.menu div.menu-panel {
    overflow: auto;
    height: 100%;
    width: 100%;
}

div.menu>h1.title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    margin-top: 0;
    width: calc(100% - 5px);
    cursor: move;
    line-height: 28px;
    font-size: 1.25em;
    border-bottom: 1px solid var(--menu-border-color);
}

div.menu>h1.title:hover {
    background-color: rgb(25,55,60);
}

div.menu>a.close {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid var(--menu-border-color);
    line-height: 28px;
    font-size: 1.5em;
}

div.menu>a.close:hover {
    color: var(--bad-hover-color);
}

div.menu>a.close:before {
    content: "\2716";
}

div.menu div.section {
    margin: 15px 0;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    div.menu {
        min-width: auto;
        transform: none;
        padding: 28px 0.25em 0.25em;
        bottom: auto;
        top: 30%;
        left: 30%;
        max-height: 90%;
        min-width: 100px;
        min-height: 75px;
        resize: both;
    }
}